/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #fdfafa;
}

/* Contenedor Principal del Footer */
footer {
    background-color: #222;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

/* Logo del Footer */
.footer-logo {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

/* Links del Footer */
.footer-links {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap:-20px;
    justify-content: space-between;
}

.footer-column {
    flex: 1;
    min-width: 180px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fcfbf8; /* Color destacado para los títulos */
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse */
}

/* Texto del Footer */
footer p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 20px;
    }

    .footer-column {
        text-align: center;
    }
}